footer {
  grid-area: footer;
  font-family: var(--font-family-inter);
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: 15px;
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}

footer a:link,
footer a:visited {
  color: var(--color-accent);
}

#updates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 40px;
}

#updates-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

#updates-inputs {
  display: flex;
  border-bottom: 1px solid var(--color-background);
}

#updates-email {
  flex: 1;
  background: transparent;
  border: none;
  padding: 0px 0px 10px;
  color: var(--color-background);
}

#updates-email:focus {
  outline: none;
}

#updates-submit {
  background: none;
  border: none;
  padding: 0px 0px 10px;
  color: var(--color-background);
  cursor: pointer;
}

#github-link {
  align-self: center;
  display: flex;
  align-items: center;
  text-decoration: underline;
  gap: 8px;
}

.footer-titles {
  font-family: var(--font-family-playfair);
  font-size: 1rem;
}

#footer-logo-div {
  text-align: center;
}

#footer-logo-img {
  margin: 20px 0px;
  width: 150px;
  height: 150px;
}

/* RESPONSIVE DESIGN */

/* RD: COMPUTER */
@media (min-width: 1025px) {
  #updates {
    flex: none;
  }
}
