/* Imports fonts from Google Fonts (Inter, Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* GLOBAL */

:root {
  /* Fonts */
  --font-family-inter: "Inter", "Arial", sans-serif;
  --font-family-playfair: "Playfair Display", "Times New Roman", serif;
  /* Colors */
  --color-background: #fbfcf6;
  --color-text: #030d0f;
  --color-primary: #45523e;
  --color-accent: #a1a08f;
}

html {
  background-color: var(--color-background);
  font-family: var(--font-family-inter);
  font-size: 16px;
}

/* BODY */

body {
  font-family: var(--font-family-inter);
  background-color: var(--color-background);
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
}

main {
  grid-area: main;
  padding: 80px 15px;
}

section h2,
section h3 {
  font-family: var(--font-family-playfair);
  color: var(--color-primary);
  text-align: center;
  font-weight: lighter;
}

section h2 {
  font-size: 2rem;
  margin: 0px;
  padding: 20px 20px 0px;
}

section[id="index-welcome"] h2 {
  padding: 0px 20px 20px;
}

section h3 {
  font-size: 1.5rem;
}

section p {
  font-family: var(--font-family-inter);
  color: var(--color-primary);
  text-align: center;
  font-size: 0.8rem;
}

section a:link,
section a:visited {
  color: var(--color-accent);
  display: block;
  margin: 0 auto;
  font-family: var(--font-family-playfair);
}

div[id*="hero"] > img,
iframe {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  border-radius: 8px;
}

/* RESPONSIVE DESIGN */

/* RD: PHONE */
@media (max-width: 767px) {
}

/* RD: PHONE + TABLET */
@media (max-width: 1024px) {
}

/* RD: TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* RD: TABLET + COMPUTER */
@media (min-width: 768px) {
  body {
    grid-template-areas:
      "nav header"
      "nav main"
      "nav footer";
    grid-template-columns: 0 1fr;
  }
  section h2 {
    font-size: 3rem;
  }
  section p {
    font-size: medium;
  }
}

/* RD: COMPUTER */
@media (min-width: 1025px) {
  body {
    grid-template-areas:
      "header header header"
      "nav main sidebar"
      "footer footer footer";
    grid-template-columns: 0 1fr 0;
  }
}
